<div class="navbar">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a href="{{path('project_back_homepage')}}" class="brand"> <small> {% include '::nombre.html.twig' %} </small> </a><!--/.brand-->
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
			<ul class="nav ace-nav pull-right">
				<li class="grey">
					<a data-toggle="dropdown" class="dropdown-toggle" href="#"> <i class="icon-tasks"></i> <span class="badge badge-grey">1</span> </a>

					<ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-closer">
						<li class="nav-header">
							<i class="icon-ok"></i>
							1 Tarea por completar
						</li>

						<li>
							<a href="#">
							<div class="clearfix">
								<span class="pull-left">Hacer estudio del sistema</span>
								<span class="pull-right">65%</span>
							</div>
							<div class="progress progress-mini ">
								<div style="width:65%" class="bar"></div>
							</div> </a>
						</li>

						<li>
							<a href="#"> Leer todas las tareas <i class="icon-arrow-right"></i> </a>
						</li>
					</ul>
				</li>

				<li class="purple">
					<a data-toggle="dropdown" class="dropdown-toggle" href="#"> <i class="icon-bell-alt icon-animated-bell"></i> <span class="badge badge-important">1</span> </a>

					<ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-closer">
						<li class="nav-header">
							<i class="icon-warning-sign"></i>
							1 Notificacion
						</li>

						<li>
							<a href="#">
							<div class="clearfix">
								<span class="pull-left"> <i class="btn btn-mini no-hover btn-pink icon-comment"></i> Notas actualizadas </span>
								<span class="pull-right badge badge-info">+12</span>
							</div> </a>
						</li>

						<li>
							<a href="#"> Leer todas las notificaciones<i class="icon-arrow-right"></i> </a>
						</li>
					</ul>
				</li>

				<li class="green">
					<a data-toggle="dropdown" class="dropdown-toggle" href="#"> <i class="icon-envelope icon-animated-vertical"></i> <span class="badge badge-success">1</span> </a>

					<ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-closer">
						<li class="nav-header">
							<i class="icon-envelope-alt"></i>
							1 Mensaje
						</li>

						<li>
							<a href="#"> <img src="{{asset('admin/avatars/avatar.png')}}" class="msg-photo" alt="Alex's Avatar" /> <span class="msg-body"> <span class="msg-title"> <span class="blue">Juan:</span> Hola como estas ... </span> <span class="msg-time"> <i class="icon-time"></i> <span>Hace un momento</span> </span> </span> </a>
						</li>




						<li>
							<a href="#"> Leer todos los mensajes <i class="icon-arrow-right"></i> </a>
						</li>
					</ul>
				</li>
				

				<li class="light-blue">
					<a data-toggle="dropdown" href="#" class="dropdown-toggle"> 
						<img class="nav-user-photo" src="{%if app.user.getPath is not null%}{{ app.user.getWebPath | apply_filter('navbar') }}{%endif%}" alt="{{app.user.username|title}} foto" />

						

					 <span class="user-info"> <small>Bienvenido,</small>

					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %} {{ app.user.username}} {% endif %}


				</span> <i class="icon-caret-down"></i> </a>

					<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
						<li>
							<a href="#"> <i class="icon-cog"></i> Settings </a>
						</li>

						<li>
							<a href="#"> <i class="icon-user"></i> Profile </a>
						</li>

						<li class="divider"></li>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
						<li>
							<a href="{{ path('fos_user_security_logout') }}"> <i class="icon-off"></i>  
								{{ 'layout.logout'|trans({}, 'FOSUserBundle') }} 
							</a>
						</li>
						{% else %}
						<li>
							  <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
						</li>
						{% endif %}
					</ul>
				</li>
				


			</ul><!--/.ace-nav-->
			{%endif%}

		</div><!--/.container-fluid-->
	</div><!--/.navbar-inner-->
</div>