{% trans_default_domain 'FOSUserBundle' %}




<div >
	<div id="user-profile-3" class="user-profile row-fluid">
		<div class="offset1 span10">
			<div class="space"></div>

        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-horizontal">
        {{ form_start(form) }}

			<div class="tabbable">

				<ul class="nav nav-tabs padding-16">
					<li class="active">
						<a data-toggle="tab" href="#edit-basic">
							<i class="green icon-edit bigger-125"></i>
							Basic Info
						</a>
					</li>
				</ul>

				<div class="tab-content profile-edit-tab-content">
					<div id="edit-basic" class="tab-pane in active">
						<h4 class="header blue bolder smaller">General {{ form_errors(form) }}</h4>

						<div class="row-fluid">
							{#
							<div class="span4">
								<input type="file" />
							</div>
                            #}
							<div class="vspace"></div>

							<div class="span12">
								<div class="control-group">
									<label class="control-label" for="form-field-username">User</label>

									<div class="controls">
										  {{ form_widget(form.username) }}
									</div>
								</div>
							    <div class="control-group">
									<label class="control-label" for="form-field-username">Name</label>

									<div class="controls">
										  {{ form_widget(form.name) }}
									</div>
								</div>

								<div class="control-group">
									<label class="control-label" for="form-field-username">Email</label>

									<div class="controls">
										  {{ form_widget(form.email) }}
									</div>
								</div>


								<div class="control-group">
									<label class="control-label" for="form-field-username">Contraseña1</label>
									<div class="controls">
										 {{ form_widget(form.plainPassword.first) }}
									</div>
								</div>

								<div class="control-group">
									<label class="control-label" for="form-field-username">Contraseña1</label>
									<div class="controls">
										  {{ form_widget(form.plainPassword.second) }}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="form-actions">
				<button class="btn btn-info" type="button" onclick="submit();">
					<i class="icon-key bigger-110"></i>
					{{ 'security.login.submit'|trans }}
				</button>
			</div>
			{{ form_end(form) }}
		</form>
	</div><!--/span-->
</div><!--/user-profile-->
